<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Cooper4 Tab Page</title>
    <link th:href="@{/framework/cooper4/css/ext_icon.css}" rel="stylesheet"/>
    <link th:href="@{/framework/extjs/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css}" rel="stylesheet" />
    <link th:href="@{/framework/kindeditor/themes/default/default.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{/framework/extjs/ext-all.js}"></script>
    <script type="text/javascript" th:src="@{/framework/extjs/packages/ext-locale/build/ext-locale-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/framework/kindeditor/kindeditor-all-min.js}"></script>
    <script type="text/javascript" th:src="@{/framework/kindeditor/lang/zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/framework/cooper4/js/Cooper4.js}"></script>
    <script type="text/javascript" th:src="@{/framework/cooper4/js/Commons.js}"></script>
</head>
<body>
    <script type="text/javascript">
        //请求Tab页面JS..
        Ext.require([
            'Cooper4.plugins.setting.code.Index'
        ]);
        //创建Tab页面JS..
        Ext.onReady(function(){
            Cooper4.SYSTEM_CODE = me.Cooper4.SYSTEM_CODE;
            Ext.create('Cooper4.plugins.setting.code.Index',{});
            parent.window.Ext.getBody().unmask();
        });
    </script>
</body>
</html>